* {
    box-sizing: border-box;
}

body {
    background: rgb(70, 142, 236);
    font: normal 15px Arial;
}

header, footer {
    text-align: center;
    color:#fff
}

section {
    width: 500px;
    margin: auto;

    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.363);
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#msg {
    font-size: 15px;
    font-weight: 600;
    text-align: center;

    padding-bottom: 10px;
}

#imagem {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer {
    margin-top: 10px;
    font-style: italic;
}